@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Concert+One&family=Long+Cang&display=swap');

body{
    font-family:"Carter+One" sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-color: aliceblue;
    flex-direction: column;
}
.game-container{
    width: 320px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.cell{
    width: 77px;
    height: 77px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #000;
}